
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

#hoodiePreview, #tshirtPreview{
    display: block;
    margin: 0 auto 10px;
    width: 200px;
    height: auto;
}


label, select, #customization {
    display: block;
    margin: 10px auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #222;
    color: white;
}
h2{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

/* here is the footer section  */
footer {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12.5%;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
footer ul{
    list-style: none;
}
.content {
    color: white;
    display: flex;
    list-style: none;
    text-align: fixed;
}
.wrapper{
    display: flex;
    padding-bottom: 20px;
    gap: 20px;
}


#payment-images{
    display: flex;
}
/* Here it starts the footer bottom part */
.footer-bottom{
    display: flex;
    justify-content: center;
}
.footer-bottom-content ul{
    display: flex;
}
.footer-bottom-content ul li {
    margin: 0 10px; 
}
.images-box{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-media-box{
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer button {
    
    background-color: black;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: white;
    color: black;
}

.logo{
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;

}
ul.images-box{
   margin: 2px; 
   padding: 2px;
}
ul.social-media-box{
    padding: 2px; 
    margin: 2px; 
}
ul{
    padding: 2px;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
        margin: 10px;
    }
    .content{
        display: block;
    }
    .wrapper{
        display: none;
    }
   
}